:global(.ant-menu-item) a.dekartLink {
    color: #45ffb5 !important;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.dekartMenu :global(.ant-menu) {
    background-color: transparent !important;
}

.dekartMenu :global(.ant-menu-overflow) {
    display: block;
}

:global(.ant-menu-submenu) :global(.ant-menu) {
    background-color: #2B323B !important;
}

.dekartMenu :global(.ant-menu-item-selected),
.dekartMenu :global(.ant-menu-item-active) {
    background-color: transparent !important;
}

.dekartMenu {
    flex: 1;
}
